* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - (1440px - 240px) / 2);
    padding-right: calc(50% - (1440px - 240px) / 2); 
}

.top {
    height: 1024px;
    background-image: url(../images/hw1-mainImg-2077.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;

    &__text {
        padding-top: 217px;

        &-main {
            width: 750px;
            color: rgb(255, 255, 255);
            font-size: 64px;
            font-weight: 700;
            line-height: 78px;
            letter-spacing: 0px;
            text-align: left;
        }

        &-paragraf {
            width: 500px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 32px;
        }

        &-button {
            margin-top: 44px;
            width: 234px;
            height: 48px;
            border-radius: 30px;
            background: rgb(156, 3, 50);
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
            transition: all .33s;
            font-family: 'Montserrat', sans-serif;

            &:hover {
                transform: scale(1.03);
                cursor: pointer;
            }
        }
    }
}

.cards {
    display: flex;
    gap: 32px;
    height: 556px - 6px;
    background-color: rgb(0, 9, 21);
    padding-top: 128px;
    padding-bottom: 128px;

    &__play {
        height: 300px + 6px;
        display: flex;
        
        &-linkBox {
            position: relative;
            transition: all .33s;
            border: 3px solid transparent;
            border-radius: 16px;

            &:hover {
                border: 3px solid rgb(68, 210, 255);
                border-radius: 16px;
                transform: scale(1.03);
            }

            & img {
                border-radius: 16px;
            }
        }

        &-text {
            position: absolute;
            left: 32px;
            bottom: 32px;
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0px;
        }
    }
}

.seasons {
    height: 800px;
    background-color: rgb(0, 9, 21);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 135px;

    &__text {
        grid-column: span 1;
        padding-top: 282px;
        width: 584px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;

        &-main {
            color: rgb(255, 255, 255);
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            letter-spacing: 0px;
            text-align: left;
        }

        &-paragraf {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
        }

        &-button {
            width: 234px;
            height: 48px;
            border-radius: 30px;
            background: rgb(156, 3, 50);
            color: rgb(255, 255, 255);
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
            transition: all .33s;

            &:hover {
                transform: scale(1.03);
                cursor: pointer;
            }
        }
    }

    &__imgBlock {
        grid-column: span 1;
        padding-top: 233px;

        &-img {
            width: 485px;
            height: 333px;
        }
    }
}


@media(max-width: 426px) {

    .center {
        padding-left: 20px;
        padding-right: 20px;
    }

    .top {
        height: 735px;
        // width: 100%;
        background-image: url(../images/mob/hw2-mainImg-2077-mob.jpeg);
        
        &__text {
            padding-top: 238px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-main {
                // width: 343px;
                width: 100%;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
            }

            &-paragraf {
                // width: 343px;
                width: 100%;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }

            &-button {
                // margin: 32px 54px 54px;
                margin-top: 32px;
                box-sizing: border-box;
            }
        }
    }

    .cards {
        height: 1221px;
        flex-wrap: wrap;

        &__play {
            margin-top: 0px;
            margin-bottom: 0px;

            &-linkBox img {
                // width: 343px;
                max-width: 100%;
                height: 100%;
            }
        }
    }
}

@media(max-width: 376px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
}